.link-holder {
  background-color: #009FAC;
  border-radius: 0px 0px 5px 5px;
  width: 100%;
  margin-left: -16px;
  padding: 11px 16px;
  display: none;
  align-items: center;
  justify-content: space-between;
  &__link {
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  &__arrow {
    width: 24px;
    height: 24px;
    margin-left: 11px;
  }

  &__share {
    background-image: url(../../images/share-btn.svg);
    background-color: transparent;
    border: 0;
    width: 24px;
    height: 24px;
  }
  @media (min-width: 900px) {
    margin-left: -19px;
    padding: 19px;
    // display: none;
    //opacity: 0;
    // padding-left: 22px;
    &__link {
      font-size: 18px;
      line-height: 30px;
    }
  }
}